consul_terraform_sync/*.module.tfvars
consul_terraform_sync/terraform
consul_terraform_sync/sync-tasks
consul_terraform_sync/consul-terraform-sync
consul_terraform_sync/config.local.hcl.bak
consul_terraform_sync/datacenter.module.tfvars

*.pem
secrets.tfvars
datacenter/certs
consul_acl_bootstrap.json