canary/*.module.tfvars
canary/terraform
canary/sync-tasks
canary/consul-terraform-sync
credentials
credentials.auto.tfvars
canary/datacenter.module.tfvars

datacenter/consul_cert_file
datacenter/consul_key_file
datacenter/consul_ca_file
datacenter/primary_gateway

*.pem