export TF_VAR_role_arn=""
export TF_VAR_kubernetes_context=""
export TF_VAR_consul_datacenter_address=$(cd ../datacenter && terraform output -raw consul_server)
export TF_VAR_consul_encrypt_key=$(consul keygen)